!!!5
%html{lang: 'en', class: 'no-js'}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}/
    %title= yield_content :title
    %meta{content: 'lab2023', name: 'author'}/
    %meta{content: '', name: 'description'}/
    %meta{content: '', name: 'keywords'}/

    = stylesheet_link_tag 'application',
                          '//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css'

    = favicon_tag 'favicon.ico'

    = yield_content :head

  %body.main{class: @page || 'page'}

    / Navbar
    = partial 'layouts/partials/navbar'

    #wrapper

      / Sidebar
      %section#sidebar
        = partial 'layouts/partials/dock'

      / Tools
      %section#tools
        = partial 'layouts/partials/breadcrumb'
        = partial 'layouts/partials/toolbar'

      / Content
      #content
        = yield

    / Footer
    = partial 'layouts/partials/footer'

    / Google Analytics
    = partial 'layouts/partials/trackers'